<!DOCTYPE html>
<html>
<head>
    <title>SMO-Randomizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/randomizer.css')}}">
</head>
<body>
    <div class="card">
        <div class="card-header">SMO-Randomizer (now online)</div>
        <form action="" method="POST">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="checkbox">
                        <label class="strikethrough">Seed (optional): <input id="seed" name="seed" type="text" /></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label><textarea placeholder="Allowlist" name="allowlist"></textarea><textarea placeholder="Blocklist" name="blocklist"></textarea></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>End Bowser's After Story <input type="checkbox" name="sprinkle"/></label>
                        <label>Common Peace Skips <input type="checkbox" name="peaceskips"/></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label><input type="submit" value="Generate!" /></label>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <script>
        function seed_check() {
            var seed = document.getElementById('seed');
            if (seed.value.length == 0) {
                location = "/seed";
            } else {
                location = "/seed/" + seed.value;
            }
        }
    </script>
</body>
</html>