<!DOCTYPE html>
<html>
<head>
    <title>SMO-Randomizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/randomizer.css')}}">
</head>
<body>
    <div class="card">
        <div class="card-header">SMO-Randomizer</div>
        <form action="" method="POST">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="checkbox">
                        <label class="strikethrough">Seed (optional): <input id="seed" name="seed" type="text" /></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label><textarea placeholder="Allowlist" name="allowlist"></textarea><textarea placeholder="Blocklist" name="blocklist"></textarea></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>Card Mode <input type="checkbox" name="cardmode" id="cardmode" onclick="disable_settings()"/></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label>End Bowser's After Story <input type="checkbox" name="sprinkle" id="sprinkle"/></label>
                        <label>Common Peace Skips <input type="checkbox" name="peaceskips" id="peaceskips"/></label>
                        <label>First Moon Skip <input type="checkbox" name="fms" id="fms"/></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="checkbox">
                        <label><input type="submit" value="Generate!" /></label>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <br>
    <h2>Documentation</h2>
    <h3>Overrides</h3>
    <p>Overrides give the ability for the user to add or remove moons from the logic. By default, the program will ignore all warp painting moons, revisit moons, postgame moons, hint art moons, and tourist moons. By inputting the moon id into the allow/block list, the moon will be added or removed in logic. Moon IDs can be found <a href="https://github.com/Minibeast/SMO-Randomizer/wiki/Moon-IDs">here</a>.</p>
    <h3>Card Mode</h3>
    <p>Card mode attempts to implement talkatoo% routing into an external tool. The entire moon pool is randomized (with accordance to logic), and only 3 moons will be displayed at a time. Checking one moon off will get the next moon in the list. Buttons are also added allowing for the user to identify where they are in the story so logic can be accounted for.</p>
    <h3>Settings</h3>
    <p>End Bowser's After Story - Bowsers kingdom can be completed after the mecha broodal fight 100% of the time. Basically, Bowser peace moons are removed from the pool.</p>
    <p>Common Peace Skips - IP Clip and Snow Clip are accounted for in logic.</p>
    <p>First Moon Skip - First Moon Skip.</p>
    <br>
    <p class="footer">Made by <a href="https://twitter.com/aMinibeast">Mini</a>. Source code available <a href="https://github.com/Minibeast/SMO-Randomizer-Web">here</a>.</p>
    <script>
        function disable_settings() {
            chk_card = document.getElementById('cardmode');
            chk_sprinkle = document.getElementById('sprinkle');
            chk_peace = document.getElementById('peaceskips');
            chk_fms = document.getElementById('fms');

            if (chk_card.checked) {
                chk_sprinkle.setAttribute('disabled', 'disabled');
                chk_peace.setAttribute('disabled', 'disabled');
                chk_fms.setAttribute('disabled', 'disabled');
            } else {
                chk_sprinkle.removeAttribute('disabled');
                chk_peace.removeAttribute('disabled');
                chk_fms.removeAttribute('disabled');
            }
        }
    </script>
</body>
</html>